*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 13px;
    
}

/* header */
#header{
    background: #222;
    padding: 10px 0;
    position:  relative;
}

#search-box input {
    width: 280px;
    height: 30px;
    border-radius: 5px 0 0 5px;
}
#search-box button {
    width: 80px;
    height: 30px;
    background-color: #eb1f27;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
#cart-notify{
    float: right;
    
}
#cart-notify span{
    width: 30px;
    height: 30px;
    background: #eb1f27;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
/* /header */
/* main */
#body{
    background-color: #e7ecf4;
}
#menu{
    background: #eb1f27;
    overflow: hidden;
}
#menu li{
    float: left;
    list-style: none;
    border-right: 1px solid #c60a11;
    padding: 15px;
}
#menu li:hover{
    background: #c60a11;
}
#menu a{
    color: #fff;
    text-decoration: none;
}
#sidebar img{
    margin-bottom: 10px;
}
    
.section h2{
        margin-top: 20px;
        font-size: 18px;
}

.card img{
    
        height: 160px;

}
.card img:hover{
        opacity: 0.5;
}
.card a{
        color: #333;
        text-decoration: none;
        font-weight: bold;
}
.card span{
        font-weight: bold;
        color: #eb1f27;
}
 #menu-reponsive{
     position: absolute;
     right: 20px;
     bottom: 10px;

 }
.card:first-child{
    margin-left: 15px !important;
    
}
.card:last-child{
    margin-right: 15px !important;
    
}
.card{
    text-align: center;
    margin: 5px !important;
}


    /* /main */
    /* footer */
    #footer-top{
        background-color: #fff;
        margin-top: 30px;
        padding: 30px ;
    }
    #footer-top p{
        text-align: justify;
         margin-top: 15px;
    }
    #footer-top h2{
        font-size: 18px;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;

    }
    #footer-bottom{
        background-color: #1d1e24;
        padding-top: 10px;

    }
    #footer-bottom p{
        color: #a1b1bc;
    }
/* css3 media */

@media (max-width: 992px){
    #sidebar{
        display: none;
    }
}
@media (max-width: 768px){
    #cart-notify a{
        float: none;
    }
    .d-flex{
        margin: 25px 0;
    }
    #menu li{
        float: none;
        border-bottom: 1px solid #c60a11;
    }
    .carousel{
        display: none;
    }
    .card:first-child{
        margin-left: 5px !important;
    }
    .card:last-child{
        margin-right: 5px !important;
    }
    .service h2{
        margin-top: 15px;
    }
    #menu-collapse{
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}
@media (min-width: 768px){
    #menu{
        display: block;
    }
    #menu-collapse{
        display: none;
    }
}

